@import "../config/_main.scss";

:root {
    color-scheme: dark;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    font-family: $font_default;
    color: $default_content_colour;

    padding: 0;
    margin: 0;

    background-color: $bg_colour;
    margin-bottom: 2em;
}

.iframe {
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
}

.upload * {
    font-weight: bold;
}

.upload button {
    padding: 0.3em;
}

.upload button[disabled] {
    color: darkgray;
}
