@import '../config/main';


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: $font_default;
    color: $default_content_colour;

    scroll-behavior: smooth;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
    
::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


html, body {
    background-color: $bg_colour;
    margin-bottom: 2em;
}


.iframe {
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
}
