.boot {
  margin: 1em 0em 1em 1em;
  font-size: 1.5em; }
  .boot #bootver {
    color: #9acd32;
    margin-left: 1.12em;
    /* makes it that it aligns with 'boot' messages */ }
  .boot #bootver::before {
    content: "webRC version " "1.0"; }
  .boot .bmsg[bmsg_type=ok]::after {
    content: '[OK]';
    float: right;
    color: #0fd30f; }
  .boot .bmsg[bmsg_type=ok]::before {
    content: ' * ';
    color: #0fd30f; }
  .boot .bmsg[bmsg_type=warn]::after {
    content: '[WARNING]';
    float: right;
    color: #ffff00; }
  .boot .bmsg[bmsg_type=warn]::before {
    content: ' * ';
    color: #ffff00; }
  .boot .bmsg[bmsg_type=error]::after {
    content: '[ERROR]';
    float: right;
    color: #ff0000; }
  .boot .bmsg[bmsg_type=error]::before {
    content: ' * ';
    color: #ff0000; }
  .boot .bmsg::first-letter {
    text-transform: uppercase; }
  .boot .bmsg {
    word-wrap: break-word;
    word-break: break-all; }
