*, *::before, *::after {
    scroll-behavior: smooth !important;
}

body,
html {
    padding: 2.5em;
    height: 100%;
}

.title404 {
    text-align: center;
    font-size: 3em;
}

.content404 {
    text-align: center;
    font-size: 2.5em;
}

.c404img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c404img img {
    -webkit-filter: opacity(25%) blur(10px);
    filter: opacity(25%) blur(10px);
    width: 30em;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 2.5em;
}
