$ok_colour: #0fd30f;
$warn_colour: #ffff00;
$error_colour: #ff0000;
$bg_colour: #070707;
$default_content_colour: #ffffff;
$boot_header_colour: #9acd32;
$font_default: monospace;
$boot_ver: "1.0";
$shell_colour: $ok_colour;
$shell_font_size: 1.7em;
